# --- Data ------
data/
raw/

results/*
!results/dictionaries/
!results/artifacts/
results/artifacts/*
!results/artifacts/dictionary/
!results/artifacts/dictionary/**

# --- additionals ---
main.py
sandbox.py

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# --- IDEs and OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs and Results ---
