# --- Project ---
data/
results/
main.py
sandbox.py

!resources/
!src/
!scripts/
!README.md
!requirements.txt
!.gitignore

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# --- IDEs and OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db